# バイナリファイル
/awsmyinfo
/bin/
awsmyinfo-*

# Mac OSのファイル
.DS_Store

# 機密情報を含むファイル
accounts.csv
*.csv

# 依存関係の一時ファイル
/vendor/
/go.sum

# IDE関連のディレクトリ
.idea/
.vscode/

# ビルド時の一時ファイル
*.exe
*.dll
*.so
*.dylib
*.test
*.out
